<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> C语言中，如果ar是个数组，那么表达式ar[i]与什么等价？</key>
	<string>*(ar+i)</string>
	<key> T-34坦克Mod1939配备的主炮口径多大</key>
	<string>76.2mm</string>
	<key> Vividred Operation的官方twitter名叫什么？</key>
	<string>ビビッドレッド・オペレーション</string>
	<key> “***的晚宴”此绝招出自哪部动漫？</key>
	<string>钢铁神兵</string>
	<key> “WOW”一词是下列什么游戏的简称</key>
	<string>魔兽世界</string>
	<key> “今天的风儿有点喧嚣”出自下列哪部动画</key>
	<string>男子高中生的日常</string>
	<key> “你说这个谁懂啊？”出自谁的话</key>
	<string>劳·鲁·克鲁泽</string>
	<key> 动漫《南家三姐妹》中，不属于“南家三姐妹”的是？</key>
	<string>南冬马</string>
	<key> 海贼王OP&lt;WE ARE!&gt;演唱者的是谁</key>
	<string>东方神起</string>
	<key> 游戏《古龙群侠传》中主角沈孤云的初始武功叫什么？</key>
	<string>苍穹十三式</string>
	<key>"不反抗就不会死,为什么就是不明白" 这话出自哪部动画？</key>
	<string>机动战士高达 Z</string>
	<key>"想成为螃蟹(蟹になりたい！)”是谁的名言？</key>
	<string>比利海灵顿</string>
	<key>"银魂", 眼镜代表了什麼</key>
	<string>新八</string>
	<key>09年的萌王是下面哪位?</key>
	<string>逢坂大河</string>
	<key>18X游戏＜羞辱＞是一款什么类型游戏</key>
	<string>第一人称潜入冒险类</string>
	<key>2012年日萌萌王是谁？</key>
	<string>园城寺怜</string>
	<key>&lt;&lt;月姬&gt;&gt;中公主的全名是？</key>
	<string>爱尔奎特</string>
	<key>ANGEL BEATS里天使的HAND SONIC莲花状态是LEVEL几</key>
	<string>Level 4</string>
	<key>AT力场的全称是？</key>
	<string>Absolute Terror Field</string>
	<key>DOTA里能减伤害的技能是以下哪个？</key>
	<string>幽灵船</string>
	<key>EVA中，凌波丽的房间门牌号是多少？</key>
	<string>402</string>
	<key>EVA初号机的装甲涂装是什么颜色？</key>
	<string>紫色</string>
	<key>EVA新剧场版中真希波玛丽眼镜镜框的颜色是</key>
	<string>红色</string>
	<key>Fate/Zero中卫宫切嗣发射起源弹所用的手枪名叫？</key>
	<string>Thompson Arms Contender</string>
	<key>Fate里凛利用士郎投影而制造出的宝石剑Zelretch属于五大魔法中的哪一个第二法</key>
	<string>平行空间干涉</string>
	<key>GNU的初始人？</key>
	<string>Stallman</string>
	<key>Gameboy（GB）上的塞尔达传说，时空之章的姐妹篇是？</key>
	<string>大地之章</string>
	<key>IS中的铃是哪国人？</key>
	<string>中国人</string>
	<key>KONAMI旗下MUG制作团队的名称是？</key>
	<string>BEMANI</string>
	<key>LOL中谁的大招跟御坂美琴相似却不同？</key>
	<string>拉克丝</string>
	<key>LOL的新英雄太强了，我们来削弱____吧。</key>
	<string>刀妹</string>
	<key>MIO走光时穿的是</key>
	<string>蓝白条纹胖次</string>
	<key>N64的发行商是？</key>
	<string>任天堂</string>
	<key>Operation Skuld出自哪部动画？</key>
	<string>Steins;Gate</string>
	<key>PSYCHO-PASS的中文译名是？</key>
	<string>心理测量者</string>
	<key>SAO中“桐人”在现实世界的真名叫什么？</key>
	<string>桐谷和人</string>
	<key>WOW中被称为亲儿子的是哪个职业？</key>
	<string>法师</string>
	<key>XX我成为正义的伙伴了吗？</key>
	<string>切嗣</string>
	<key>X在叫，人坏掉，请问X是什么</key>
	<string>蝉</string>
	<key>YOOOOOOOOO梦的叫法来源于什么</key>
	<string>女装山脉</string>
	<key>biu一下就死了出自那个网络游戏？</key>
	<string>WOW</string>
	<key>clannad游戏发行公司是？</key>
	<string>KEY社</string>
	<key>eva的导演是？</key>
	<string>庵野秀明</string>
	<key>float d=3.1415926;printf("%.2f",d); </key>
	<string>3.14</string>
	<key>miku的生日是什么时候？</key>
	<string>8月31日</string>
	<key>mugen人物实力一共有几个级别</key>
	<string>7个</string>
	<key>wow中被称为小芊芊的职业是</key>
	<string>盗贼</string>
	<key>“夜阑卧听风吹雨，铁马冰河入梦来”是谁的诗句？</key>
	<string>陆游</string>
	<key>“大家啊，请成为我的翅膀吧。”这句话是谁说的？</key>
	<string>早乙女有人</string>
	<key>“失去恋人的世界会开出怎样的花”这句歌词出自？</key>
	<string>恋人射杀之日</string>
	<key>“孤这一生，无怨无悔，只是，有少许遗憾啊..”是谁的台词？</key>
	<string>龙溟</string>
	<key>“怪物猎人”中，弓“射月女神”是用哪种怪物的素材制作的？</key>
	<string>生产费用 112500z
必要素材1 金火龙的坚壳x8
必要素材2 金火龙的上棘x4
必要素材3 火龙的煌液x6
必要素材4 雌火龙的红玉x1</string>
	<key>“自古枪兵幸运e”出自哪部动漫</key>
	<string>fate</string>
	<key>“草船借箭”故事里，借的是谁家的箭</key>
	<string>曹操</string>
	<key>“跟我定下契约 成为魔法少女吧！”这句著名台词出自哪部动漫</key>
	<string>魔法少女 魔法少女小圆</string>
	<key>“这个时候只要微笑就可以了”这句经典台词出自于那部动画？</key>
	<string>《新世纪福音战士》</string>
	<key>“连我爸爸都没打过我” 这句话是谁说的</key>
	<string>阿姆罗·雷</string>
	<key>“钉宫病”是指有关哪位声优的病症？</key>
	<string>钉宫理惠</string>
	<key>“阿姨洗铁路”的梗出自哪个动画？</key>
	<string>创圣大天使</string>
	<key>“非凡哥”的名字是？</key>
	<string>梁非凡</string>
	<key>“龙破斩”是《魔剑美神》中哪的角色的得意技？</key>
	<string>莉娜·因巴斯</string>
	<key>《Angel Beats!》中的天使的武器是？</key>
	<string>Handsonic</string>
	<key>《Another》中的见崎鸣有哪一项特徵? </key>
	<string>眼罩</string>
	<key>《BAKUMAN》中真城最高视为劲敌是谁</key>
	<string>新妻英二</string>
	<key>《CLANNAD》的男主人公的是谁？</key>
	<string>冈崎朋也</string>
	<key>《Call of Duty Online现代战争》中什么技能可以补给玩家弹药？</key>
	<string>拾荒者</string>
	<key>《Code Geass 反叛的鲁路修》中日本被不列颠帝国改称为什么？</key>
	<string>11区</string>
	<key>《Fate Zero》中谁杀死远坂时臣？</key>
	<string>言峰绮礼</string>
	<key>《Fate/ZERO》中第二季中的片头曲和插入曲由谁演唱？</key>
	<string>Kalafina</string>
	<key>《JOJO奇妙冒险》中空条承太郎的替身使者的名字叫什么？</key>
	<string>白金之星</string>
	<key>《Q弟侦探因幡》中黑手党的boss是什么东西</key>
	<string>山羊</string>
	<key>《Q弟侦探因幡》中，聪明先生所依附的玩偶是什么？</key>
	<string>山羊</string>
	<key>《c3魔方少女》中可以变男变女的祸具是</key>
	<string>萨文蕾提</string>
	<key>《darker than black》中以下哪一位是doll? </key>
	<string>银</string>
	<key>《fate stay night》中，伊莉雅是士郎的??</key>
	<string>干姐姐</string>
	<key>《东方妖妖梦》Phantasm面BOSS叫什么名字？</key>
	<string>八云紫</string>
	<key>《中二病也要谈恋爱》中女主角小鸟游六花对自己眼睛的中二称呼是？</key>
	<string>邪王真眼</string>
	<key>《中二病也要谈恋爱》第一集中，勇太用那只手先接到六花的小脚的？</key>
	<string>右手</string>
	<key>《侵略！乌贼娘》中乌贼***中文外号是？</key>
	<string>一个牧师妹</string>
	<key>《俺と妹の200日戦争》是下面哪个团体的作品？</key>
	<string>蛸壶屋</string>
	<key>《冰菓》中远垣内将司为什么在社团门外安装红外线收发装置？</key>
	<string>不让人发现他在屋里抽烟</string>
	<key>《凉宫春日的忧郁》中长门有希的真实身份是什么？</key>
	<string>外星人</string>
	<key>《凉宫春日的忧郁》的凉宫春日的声优平野绫还为哪部动漫的主角配音？</key>
	<string>幸运星</string>
	<key>《刀剑神域》中的亚丝娜的配音演员是谁</key>
	<string>户松遥</string>
	<key>《刀语》中咎儿的口头禅是？</key>
	<string>切利欧</string>
	<key>《化物语》中穿着夏威夷衫的大叔的名字是？</key>
	<string>忍野咩咩</string>
	<key>《北斗神拳》中的南斗凤凰拳传人撒奥萨在MUGEN界被称为？</key>
	<string>第七</string>
	<key>《北斗神拳》主角健在师兄弟4人中排行第几</key>
	<string>老三</string>
	<key>《叛逆的鲁鲁修》中的鲁鲁修在参与***时下的是什么棋？</key>
	<string>国际象棋</string>
	<key>《只有神知道的世界》中男主角的掌机是？</key>
	<string>PFP</string>
	<key>《名侦探柯南》中工藤新一是被灌下代号为什么的毒药致使身体缩小的？</key>
	<string>APTX-4869</string>
	<key>《名侦探柯南》中服部平次是哪里人？</key>
	<string>大阪</string>
	<key>《命运石之门》一台关键性的电脑的型号是？</key>
	<string>IBM5100</string>
	<key>《命运石之门》中凤凰院凶真的配音是？</key>
	<string>宫野真守</string>
	<key>《哆啦A梦》中多啦A梦是从什么时代来的？</key>
	<string>22世纪</string>
	<key>《圣斗士星矢》的作者是谁？</key>
	<string>车田正美</string>
	<key>《地狱少女》中的仙太郎的配音是谁？</key>
	<string>丰永利行</string>
	<key>《地狱少女》中阎魔爱的经典名句是？</key>
	<string>要去死一次试试看吗？</string>
	<key>《坦克世界》中AP弹是什么类型的弹药</key>
	<string>穿甲弹</string>
	<key>《大剑》中史上最强的战士迪妮莎是怎么死的？</key>
	<string>被普莉西拉偷袭所杀</string>
	<key>《天使之翼》，或者《足球小子》的主角是？</key>
	<string>大空翼</string>
	<key>《天降之物》中的男主角的名字是？</key>
	<string>樱井智树</string>
	<key>《奔向地球》的漫画原作者是？</key>
	<string>竹宫惠子</string>
	<key>《幻想夏乡》中，博丽神社丢失的物品是……？</key>
	<string>赛钱箱</string>
	<key>《戏言》中的策师名叫什么？</key>
	<string>萩原子荻</string>
	<key>《我们的存在》中最后矢野元晴为什么去了东京？</key>
	<string>搬家</string>
	<key>《我的朋友很少》中羽濑川小鸠的配音是谁？</key>
	<string>花泽香菜</string>
	<key>《我的青春恋爱物语果然有问题》女主角的名字是什么？</key>
	<string>雪之下雪乃</string>
	<key>《扑杀天使》中小骷髅的****是什么</key>
	<string>哔哔噜 哔噜哔噜 哔哔噜哔 （要X2吗？）</string>
	<key>《摇曳百合》中京子喜爱的冰淇淋口味是什么？</key>
	<string>朗姆酒葡萄干</string>
	<key>《数码暴龙》中一下属于光之斗士的是？</key>
	<string>火神兽</string>
	<key>《文学少女》中《渴望死亡的小丑》中“小丑”指的是谁 </key>
	<string>井上心叶</string>
	<key>《新世纪福音战士》中的凌波丽的配音是谁？</key>
	<string>林原惠</string>
	<key>《新本格魔法少女莉丝佳》中莉丝佳使用什么魔法？</key>
	<string>时间 </string>
	<key>《无头骑士异闻录》中折原临也的配音是？</key>
	<string>神谷浩史</string>
	<key>《无头骑士异闻录》里的静雄的配音是谁？</key>
	<string>小野大辅</string>
	<key>《日常》里东云的额头里被放过哪种食物？</key>
	<string>甜面包</string>
	<key>《暗黑破坏神2》中，1秒由多少帧组成？</key>
	<string>25</string>
	<key>《最终幻想零式》中的哪个角色和《最终幻想7核心危机》中的扎克斯声优相同？</key>
	<string>Jack</string>
	<key>《未来日记》中逃亡日记的日记持有者是谁？</key>
	<string>姆鲁姆鲁</string>
	<key>《机动战士高达00》中的利冯兹的声优是？</key>
	<string>古谷彻(艺名苍月升)</string>
	<key>《某科学的超电磁炮S》中的御坂美琴用什么放电磁炮？</key>
	<string>用硬币</string>
	<key>《某科学的超电磁炮》中炮姐放电磁炮需要的道具是？</key>
	<string>硬币</string>
	<key>《某科学的超电磁炮》的女主角是谁？</key>
	<string>御坂美琴</string>
	<key>《某科学的超电磁炮》第一季于何时开始放送</key>
	<string>2009年10月</string>
	<key>《樱花庄的宠物女孩》中的女主角叫什么名字？</key>
	<string>椎名真白</string>
	<key>《死神》中，黑崎一护的卍解名叫什么？</key>
	<string>天锁斩月</string>
	<key>《死神》作者是谁？</key>
	<string>久保带人</string>
	<key>《死神》的主角是？</key>
	<string>黑崎一护</string>
	<key>《海贼王》中的的红发海贼团的船长是谁？</key>
	<string>香克斯</string>
	<key>《海贼王》的作者是谁？</key>
	<string>尾田荣一郎</string>
	<key>《游戏王系列》中第四代主人公的形象化身是哪种动物？</key>
	<string>龙虾</string>
	<key>《火影忍者》中第五代火影是谁？</key>
	<string>纲手</string>
	<key>《火影忍者》中纲手是第几代火影？</key>
	<string>5</string>
	<key>《灼眼的夏娜》中的夏娜的配音是谁？</key>
	<string>钉宫理惠</string>
	<key>《灼眼的夏娜》里维持坂井悠二存在的宝具名叫？</key>
	<string>零时迷子</string>
	<key>《热血高校》中的山田孝之扮演谁?</key>
	<string>芹泽多摩雄</string>
	<key>《物语》中小忍的胖次是什么? </key>
	<string>创可贴</string>
	<key>《犬夜叉》中犬夜叉的哥哥是谁？</key>
	<string>杀生丸</string>
	<key>《电脑线圈》中的沙奇(Search Mutton)，是甚麼？</key>
	<string>病毒驱除程式</string>
	<key>《神剃》中花泽香菜为谁配音？</key>
	<string>凉城白亚</string>
	<key>《神次元游戏海王星V》中，拉丝缇修（Lastation）的守护女神是哪个？</key>
	<string>诺瓦露（Noire）</string>
	<key>《科学的超电磁炮》中，Level 5被称为？</key>
	<string>超能力者</string>
	<key>《科学超电磁炮》中白井黑子所属第几风纪委员支部？</key>
	<string>风纪委员活动第177支部</string>
	<key>《科学超电磁炮》中的御坂美琴的声优是谁？</key>
	<string>佐藤利奈</string>
	<key>《秦时明月》中的男主角是谁</key>
	<string>天明</string>
	<key>《紫音之王》中谁因为幼年受到惊吓而导致失去了声音？</key>
	<string>安冈紫音</string>
	<key>《英雄联盟》中的暗影之拳是谁？</key>
	<string>阿卡丽</string>
	<key>《蔷薇少女》中翠星石的瞳色是？</key>
	<string>左绿右红</string>
	<key>《蜡笔小新》中主人公小新的姓氏是什么？</key>
	<string>野原</string>
	<key>《西游记》中孙悟空被封为什么称号？</key>
	<string>斗战胜佛</string>
	<key>《足球小将》中主角大空翼梦想前往的足球之国是？</key>
	<string>巴西</string>
	<key>《轻音少女》中，第二年才加入轻音部的人是谁？</key>
	<string>中野梓</string>
	<key>《进击的巨人》中让·基尔希斯坦的声优是谁？</key>
	<string>谷山纪章</string>
	<key>《迪加奥特曼》BGM之一的 《青い夜の记忆》，其原曲是？</key>
	<string>《A Whiter Shade Of Pale》</string>
	<key>《银魂》中坂田银时佩戴的木刀叫什么？</key>
	<string>洞爷湖</string>
	<key>《银魂》中桂小太郎的绰号假发的读音是？</key>
	<string>【罗马音】zira</string>
	<key>《风之圣痕》的主角八神和麻已故的恋人名叫什么？</key>
	<string>翠铃</string>
	<key>《魂斗罗》FC一代中第三关boss是？</key>
	<string>挥舞触手的雕像</string>
	<key>《魔兽世界》是哪个游戏公司出品的？</key>
	<string>暴雪</string>
	<key>《魔法少女小圆》中小圆的配音是谁？</key>
	<string>悠木碧</string>
	<key>《魔法少女小圆》中，晓美焰的能力是什么？</key>
	<string>时间控制</string>
	<key>《魔法少女小圆》的动画监督是谁？</key>
	<string>新房昭之</string>
	<key>《魔笛MAGI》中梶裕贵配音的角色是谁？</key>
	<string>阿里巴巴</string>
	<key>《黑塔利亚》中的意大利的配音是谁？</key>
	<string>浪川大辅</string>
	<key>《黑子的篮球》中诚凛高校人物以何种系列命名？</key>
	<string>曜日</string>
	<key>《龙与虎》中的逢坂大河声优是谁？</key>
	<string>钉宫理惠</string>
	<key>《龙与虎》中的龙指的是谁？</key>
	<string>高须龙儿</string>
	<key>【K】中伏见叫八田什么</key>
	<string>Misaki</string>
	<key>一下哪只龙没在《怪物猎人3G》里出现</key>
	<string>轰龙</string>
	<key>一个物体从40m的高处自由下落，下落多少米后该物体的动能和重力势能相等？</key>
	<string>20</string>
	<key>一代补丁一代神，代代补丁有什么？</key>
	<string>法神</string>
	<key>一入银魂深似海，从此……是路人</key>
	<string>节操</string>
	<key>三国杀中有改判定能力的是</key>
	<string>司马懿和张角</string>
	<key>下列人物中不是女性的是</key>
	<string>木下秀吉</string>
	<key>下列人物中与其他三位有明显不同的是</key>
	<string>鸣海孝之</string>
	<key>下列各项不属于电脑操作系统的是</key>
	<string>S60</string>
	<key>下列哪一个不是《仙剑奇侠传一》中的人物？</key>
	<string>景天</string>
	<key>下列哪一位不是常见的DOTA视频解说</key>
	<string>反犬</string>
	<key>下列哪个不是同人界著名的以电波卖萌为主的音乐社团</key>
	<string>舞风(MAIKAZE)</string>
	<key>下列哪个人物与《kiss×sis》中「住之江理香」的配音相同？</key>
	<string>蕾蒂西亚（问题儿童都来自异世界？）</string>
	<key>下列哪个角色不是关智一配音的？</key>
	<string>基拉·大和</string>
	<key>下列哪位人物不是中二病患者？</key>
	<string>长门有希</string>
	<key>下列哪种姿势是新房监督的动画的代表？</key>
	<string>转头45°</string>
	<key>下列哪部动画是由轻小说改编成的？</key>
	<string>樱花庄的宠物女孩</string>
	<key>下列哪首歌的演唱者不是Lia？</key>
	<string>だんご大家族</string>
	<key>下面哪一位不是《天地无用》系列中的三女神？</key>
	<string>魉呼（注：鹫羽 访希深 津名魅都是）</string>
	<key>下面哪一部作品不算在“钉宫四萌”中？</key>
	<string>绯弹的亚里亚</string>
	<key>下面哪一项漫画没有在少年漫画杂志少年JUMP上连载？</key>
	<string>《妖精的尾巴》</string>
	<key>下面哪个不是11区声优“御三家”之一？</key>
	<string>花泽香菜</string>
	<key>下面哪个不是Nintendo家的</key>
	<string>PSP</string>
	<key>下面哪个不是key社三大催泪弹的作品</key>
	<string>Rewrite</string>
	<key>下面哪个缩写，与动画音乐无关？</key>
	<string>OVA</string>
	<key>下面哪家厂商不是手办御三家之一</key>
	<string>KOTOBUKIYA</string>
	<key>下面哪种药物不是局部麻醉药</key>
	<string>盐酸阿托品</string>
	<key>与宫崎骏常年合作的著名音乐家是谁？</key>
	<string>久石让</string>
	<key>世界上最大的无脊椎动物是什么？</key>
	<string>乌贼</string>
	<key>世界第一初恋中高野政宗原名叫什么？</key>
	<string>嵯峨政宗</string>
	<key>世界第一初恋中高野政宗的生日是哪天</key>
	<string>12月24日</string>
	<key>东方project中不死组指的是哪对CP</key>
	<string>妹红X辉夜</string>
	<key>东方中 帕秋莉 的官方称号是什么</key>
	<string>不动的大图书馆</string>
	<key>东方人物“小五萝莉”的本名是？</key>
	<string>古明地さとり</string>
	<key>东方心绮楼是东方Project的第几作？</key>
	<string>13.5</string>
	<key>东方红魔乡2面boss昵称是什么？</key>
	<string>⑨</string>
	<key>中二病也要谈恋爱中，六花一直想要寻找的是</key>
	<string>不可视境界线</string>
	<key>为《高达SEED》、《舞-HiME》、《空之境界》等动画谱写配乐的日本ACG界知名音乐制作人是</key>
	<string>梶浦由记</string>
	<key>二小姐是谁的妹妹？</key>
	<string>芙兰朵露·斯卡雷特</string>
	<key>五岳，是中国五大名山的总称，以下那个选项不属于五岳？</key>
	<string>峨眉 （东西南北中，泰华衡恒嵩）</string>
	<key>五星物语中害怕MH的Fatima是</key>
	<string>可罗索</string>
	<key>人们一般称科学的电磁炮里面的佐天泪子会第四波动，这是跟哪部动漫的联动？</key>
	<string>needless</string>
	<key>人们常说的爱的战士是谁？</key>
	<string>虚渊玄</string>
	<key>人民群众有口皆碑的“老湿”一般指</key>
	<string>矢吹健太朗</string>
	<key>仙剑五前传中，姜承又名什么</key>
	<string>姜世离</string>
	<key>以下不属于钉宫理惠配音的动漫角色是？</key>
	<string>凉宫春日</string>
	<key>以下不是由盛大代理的网游</key>
	<string>坦克世界</string>
	<key>以下人物中是中村悠一担当cv的是</key>
	<string>冈崎朋也</string>
	<key>以下人物谁说过“There are more things in heaven and earth, Horatio, Than are dreamt of in your philosophy”一句？</key>
	<string>不破爱花</string>
	<key>以下作品哪个不是虚渊玄的剧本</key>
	<string>大图书馆的牧羊人</string>
	<key>以下动画哪一部里面并没有神谷浩史的出场？</key>
	<string>K</string>
	<key>以下哪一个不是&lt;玉响&gt;的圣地？</key>
	<string>福岛</string>
	<key>以下哪一个不是国产游戏？</key>
	<string>空之轨迹</string>
	<key>以下哪一个是“完全数”</key>
	<string>496</string>
	<key>以下哪一个游戏在早期2D时代的第一部作品不是俯视角？</key>
	<string>塞尔达传说</string>
	<key>以下哪一个角色没有参加2012年的2CH最萌大会（即日萌）？</key>
	<string>御坂美琴</string>
	<key>以下哪一位不属于type moon？</key>
	<string>虚渊玄</string>
	<key>以下哪一款RPG（角色扮演游戏）属于WRPG（欧美角色扮演游戏）？</key>
	<string>博德之门 </string>
	<key>以下哪一部不属于逆后宫向（女性向后宫）动画？</key>
	<string>我的妹妹不可能那么可爱</string>
	<key>以下哪一部游戏作品不属于Galgame？</key>
	<string>刺客信条</string>
	<key>以下哪个不是《魔兽世界》中的种族？</key>
	<string>虫族</string>
	<key>以下哪个不是游戏王的神卡</key>
	<string>雅典娜</string>
	<key>以下哪个不是高级程序设计语言</key>
	<string>汇编语言</string>
	<key>以下哪个人是卫宫切嗣的血亲？</key>
	<string>伊利亚斯菲尔</string>
	<key>以下哪个人是木叶十二忍之一？</key>
	<string>奈良鹿丸</string>
	<key>以下哪个人物出自东方project？</key>
	<string>西行寺幽幽子</string>
	<key>以下哪个动画不是发生在型月世界</key>
	<string>魔法禁书目录</string>
	<key>以下哪个游戏不是saga planets的作品</key>
	<string>さくら、咲きました</string>
	<key>以下哪个系列的发行商不是Ubisoft（育碧）</key>
	<string>孤岛危机系列</string>
	<key>以下哪位人物是因为视力不好才戴眼镜的</key>
	<string>黑桐干也</string>
	<key>以下哪位人物没有与QB签订契约成为魔法少女？ </key>
	<string>杨玉环</string>
	<key>以下哪位出自东方project的角色不是人类？</key>
	<string>帕秋丽·诺蕾姬</string>
	<key>以下哪只主角身边的宠物是不会说话的？</key>
	<string>名古屋(邻座怪同学)</string>
	<key>以下哪家不是BL游戏公司</key>
	<string>SNKPLAYMORE</string>
	<key>以下哪款游戏的正统续作最多？</key>
	<string>《最终幻想》系列</string>
	<key>以下哪种力不属于性质力？</key>
	<string>压力 （在高中阶段性质力仅包括：重力、弹力、摩擦力、分子力、电场力、磁场力、核力七种，其他出现的均是效果力）</string>
	<key>以下哪部作品出品时间最早</key>
	<string>飞跃巅峰</string>
	<key>以下哪部作品，不是宫崎骏的作品？</key>
	<string>夏日大作战</string>
	<key>以下哪部动画是京都出品的？</key>
	<string>Munto</string>
	<key>以下哪部机战作品并不是出在掌机上？</key>
	<string>超级机器人大战OG2</string>
	<key>以下哪部游戏设备拥有裸眼3D功能？</key>
	<string>3DS</string>
	<key>以下哪项不属于诺贝尔奖的范畴？</key>
	<string>数学</string>
	<key>以下哲♂学名言哪句是VAN样说的</key>
	<string>Deep♂Dark♂Fantasy</string>
	<key>以下在《无头骑士异闻录》中参演的声优中，谁的角色最矮？</key>
	<string>丰永利行</string>
	<key>以下声优中被称为组长的是</key>
	<string>杉田智和</string>
	<key>以下的角色中谁不会时间停止？</key>
	<string>桐谷和人</string>
	<key>以下突出环保主题的宫崎骏动画是？</key>
	<string>《风之谷》</string>
	<key>以下谁不是《魔法少女奈叶》中三巨头的配音？</key>
	<string>堀江由衣</string>
	<key>俺はGandom（我就是高达）这句话是谁说的？</key>
	<string>刹那·F·清英</string>
	<key>假面骑士W里面主角翔太郎没有的记忆体是</key>
	<string>bomb</string>
	<key>傅里叶级数是傅里叶在研究哪种物理现象时提出的？</key>
	<string>热传导</string>
	<key>光年为光在真空中一年内行经的距离，这里的一年为？</key>
	<string>365天5小时48分</string>
	<key>兵库北（打一CV名字）</key>
	<string>花泽香菜</string>
	<key>养鸡党与养女党之争围绕的是哪部动画？</key>
	<string>真实之泪</string>
	<key>凉宫春日建立了什么团？</key>
	<string>SOS</string>
	<key>凉宫春日的惊愕》中带着微笑发卡的女子真实身份是什么？</key>
	<string>凉宫春日的另一个自己</string>
	<key>刀剑神域的男主角是谁？</key>
	<string>桐谷和人</string>
	<key>创价学会御本尊(4代目)的sm号是多少</key>
	<string>sm6999999</string>
	<key>初代日萌冠军是？</key>
	<string>木之本樱</string>
	<key>初音ミク的发行日期是？</key>
	<string>2007年8月31日</string>
	<key>动漫11区指哪里？</key>
	<string>日本</string>
	<key>动漫《灌篮高手》是在哪一年被动画化的作品？</key>
	<string>1993</string>
	<key>动漫《灼眼的夏娜》中夏娜所使用的武器名称为？</key>
	<string>贽殿遮那</string>
	<key>动漫《魔法少女奈叶》中，使用“旭日之心”魔导器的是？</key>
	<string>高町奈叶</string>
	<key>动漫作品《迷途猫》中芹泽文乃叫醒男主时穿的胖次是？</key>
	<string>蓝百条纹</string>
	<key>动漫刀剑神域游戏sao到第几层才通关的？</key>
	<string>76层</string>
	<key>动漫简介：花季男惨遭毒手变侏儒，痴情女真心不变仍同居</key>
	<string>名侦探柯南</string>
	<key>动画DVD销量单位为山本宽（Frt），一宽等于多少卷?</key>
	<string>1Frt=883卷</string>
	<key>动画《Angel Beats!》中，参加卒业式的成员共有几人？</key>
	<string>5人</string>
	<key>动画《code geass 叛逆的鲁路修》的监督是谁？</key>
	<string>谷口悟朗</string>
	<key>动画《勇者王》里面的GGG正确拼写为？</key>
	<string>GaoGaiGar</string>
	<key>动画《咲-Saki-》的常用中文译名是？</key>
	<string>天才麻将少女</string>
	<key>动画《神奇宝贝》中基拉祈多少年醒来一次，并且每次醒来只维持多少天？</key>
	<string>1000, 7</string>
	<key>动画《进击的巨人》中兵长利威尔的身高为多少</key>
	<string>160cm</string>
	<key>动画《魔法少女奈叶》中的角色高町奈叶的声优是谁？</key>
	<string>田村由香里</string>
	<key>动画术语中的“OST”是什么意思？</key>
	<string>原声音乐集</string>
	<key>动画机动战士高达中，吉恩共和国的创始人的谁？</key>
	<string>吉恩 戴肯</string>
	<key>动画，漫画，游戏的简称是？</key>
	<string>ACG</string>
	<key>化物语的监督是谁？</key>
	<string>新房昭之</string>
	<key>化物语里被重蟹附体时的战场原黑仪的体重是多少</key>
	<string>5kg</string>
	<key>十六夜咲夜的能力是……？</key>
	<string>操纵时间</string>
	<key>半导体二极管(硅管)的导通电压是多少</key>
	<string>0.6-0.8V</string>
	<key>去除掉头和尾巴的马达加斯加蟑螂是什么味道？</key>
	<string>鸡肉味，嘎嘣脆</string>
	<key>吉田松阳的声优是</key>
	<string>山寺宏一</string>
	<key>名言是“真相只有一个”，被戏称为“死神小学生”的是？</key>
	<string>江户川柯南</string>
	<key>哪个不属于《恶之王国》这张专辑</key>
	<string>恶之华</string>
	<key>哪座城市的名字没有出现于游戏《文明5》中？</key>
	<string>洛连特</string>
	<key>哪部是key社所谓的秋？</key>
	<string>One</string>
	<key>唯夏织发表的《Our Steady Boy》被用作哪部动画的片尾曲</key>
	<string>kiss×sis</string>
	<key>因为，绳命，是剁么的回晃。绳命……？</key>
	<string>是入刺的井猜</string>
	<key>团战可以输，____必须死？</key>
	<string>提莫</string>
	<key>团长大人的后宫中那位成员的身高最矮？</key>
	<string>朝比奈实玖瑠</string>
	<key>国产RPG单机游戏古剑奇谭一代的副标题是什么？</key>
	<string>琴心剑魄今何在</string>
	<key>国际标准化组织ISO制定的OSI模型中，路由器工作在哪一层？</key>
	<string>网络层</string>
	<key>圣石小子中莉莎的墓碑坐标是什么?</key>
	<string>3173</string>
	<key>在B站大家是怎么称呼【泪腺战士】这个up主的？</key>
	<string>岚少</string>
	<key>在Minecraft原版中，可以在炉子中烤熟食用的是</key>
	<string>土豆</string>
	<key>在TV动画《枪神》中男主角法修·史丹比特的配音是谁？</key>
	<string>小野坂昌也</string>
	<key>在Tiger&amp;Bunny中公主抱了Wild Tiger的Hero是？</key>
	<string>巴纳比</string>
	<key>在bilibili上up主头像边有闪电标识的代表什么意思</key>
	<string>bilibili认证</string>
	<key>在minecraft中俗称JJ怪的怪物原名叫什么？</key>
	<string>爬行者（Creeper）</string>
	<key>在「我的朋友很少」中，花泽香菜负责那个角色的配音?</key>
	<string>羽濑川小鸠</string>
	<key>在一部讲述钻头就是男人的浪漫的动画中，他们最常说的是哪一句？</key>
	<string>你以为我是谁啊</string>
	<key>在动漫《游戏王》中，暗游戏的真实身份是？</key>
	<string>法老王</string>
	<key>在动漫《高达0079》中，被称作“红色有角三倍速”的机体是由谁驾驶的？</key>
	<string>夏亚</string>
	<key>在受到精神打击时，什么会下降？</key>
	<string>SAN值</string>
	<key>在各大弹幕视频网站中被称为“人生导师”的是谁？</key>
	<string>松冈修造</string>
	<key>在游戏《魔兽争霸3》中，玩家可选择的种族有多少个？</key>
	<string>4</string>
	<key>在电脑上使用模拟器，在不改变游戏内核的情况下，使用工具辅助操作的游戏方式为？</key>
	<string>TAS</string>
	<key>坂田银时的声优是谁</key>
	<string>杉田智和</string>
	<key>坦克世界里面白板期的虎式坦克使用的是什么炮？</key>
	<string>短88</string>
	<key>声优冈本信彦所配的以下角色属于人类的是？</key>
	<string>黒银零</string>
	<key>声优铃村健一的妻子是？</key>
	<string>坂本真绫</string>
	<key>夏亚·阿兹纳布尔享有绰号是其下的哪一个？</key>
	<string>红色彗星</string>
	<key>夏目友人帐里老师的名字是？</key>
	<string>アサギ</string>
	<key>大家喜欢叫御坂美琴什么？</key>
	<string>炮姐</string>
	<key>大汶口文化遗址在我国的</key>
	<string>山东</string>
	<key>天才麻将少女中宫永咲最擅长的牌型</key>
	<string>岭上开花</string>
	<key>天翔少女中樱野音羽的搭乘机是？</key>
	<string>零神</string>
	<key>太2真人给灵珠子转世起的名字是？</key>
	<string>李狗蛋</string>
	<key>奈克瑟斯奥特曼的OP叫什么？</key>
	<string>英雄</string>
	<key>奥特曼来自哪个星云？</key>
	<string>M78</string>
	<key>妖精的旋律女主真正的名字是？</key>
	<string>露西</string>
	<key>娶妻当如樱庭葵，生女当如___。</key>
	<string>泉此方</string>
	<key>孤岛危机又叫？</key>
	<string>显卡危机</string>
	<key>宏观经济学中的AS指的是什么？</key>
	<string>Aggregate Supply</string>
	<key>官方逼死了谁？</key>
	<string>同人</string>
	<key>宫野真守给以下哪些人物配过音？</key>
	<string>夜神月、须王环、纪田正臣</string>
	<key>寒蝉里龙宫礼奈惯用的武器是？</key>
	<string>柴刀</string>
	<key>将原歌曲中的歌词，故意用另一种语言，取其与原语言相似的语音或音调，以达到恶搞文字游戏的过程叫什么?</key>
	<string>空耳</string>
	<key>小丑巴基经过了重重险境，终于加入了？</key>
	<string>王下七武海</string>
	<key>小说《灼眼的夏娜》作者是？</key>
	<string>高桥弥七郎</string>
	<key>少年JUMP卷均百万的漫画《HUNTERXHUNTER》的作者是谁？</key>
	<string>富坚义博</string>
	<key>山下智久没有上过以下哪一部剧</key>
	<string>魔王</string>
	<key>巡音的音源是谁？</key>
	<string>浅川悠</string>
	<key>平乳是稀缺___</key>
	<string>资源</string>
	<key>幽灵行军不是谁的固有结界</key>
	<string>梵·斐姆</string>
	<key>当PCl5 = PCl3 +Cl2的化学平衡常数Kc=1.8M时，在0.5L的容器中加入0.15molPCl5,求平衡后Cl2的浓度</key>
	<string>0.26mol</string>
	<key>恶作剧之吻男主角名字是（）</key>
	<string>入江直树</string>
	<key>悠木碧和竹达彩奈组成的声优组合名称为？</key>
	<string>petit milady</string>
	<key>我们一般用“⑨”来称呼谁？</key>
	<string>琪露诺</string>
	<key>我们经常说：这一切都是?的错</key>
	<string>时辰</string>
	<key>我（）都脱了，你就给我看这个</key>
	<string>裤子</string>
	<key>战场原黑仪的声优是？</key>
	<string>斋藤千和</string>
	<key>所罗门王戒指上的铭文是什么？</key>
	<string>一切都会过去。</string>
	<key>放课后茶会是什么组织？</key>
	<string>轻音部</string>
	<key>数码暴龙第一季的主题曲叫什么</key>
	<string>Butterfly</string>
	<key>斜上45度机器维修法是谁发明的</key>
	<string>御坂美琴</string>
	<key>新世纪福音战士新剧场版现在已经放映几部了？</key>
	<string>现在5部</string>
	<key>新日暮里中的黑暗势力统领是谁</key>
	<string>VAN样</string>
	<key>新海诚新作《言叶之庭》中女主角的配音是谁？</key>
	<string>花泽香菜</string>
	<key>无头骑士异闻录中罪歌到11卷出现了几个母体？</key>
	<string>2个</string>
	<key>无头骑士里MAMO配的角色</key>
	<string>纪田正臣</string>
	<key>日本麻将中，荣和30符4番，得点多少</key>
	<string>7700</string>
	<key>是哪个卫星发射中心将第2颗北斗导航卫星成功送入预定轨道？</key>
	<string>西昌卫星发射中心</string>
	<key>是谁提出“感应电流的磁场总是要阻碍引起感应电流的磁通量的变化”?</key>
	<string>楞次</string>
	<key>普莉兹姆利巴姐妹一共为几人？</key>
	<string>4人</string>
	<key>普遍认为，“金坷垃”系列中的非洲人的真名是？</key>
	<string>东仙要</string>
	<key>曾以Fate系列作品获得较大反响的游戏会社TYPE-MOON，以下哪一部是其最早发行的？</key>
	<string>月姬</string>
	<key>曾被ACG界宅民称作“名作之壁”的动漫作品是？</key>
	<string>A.infini***ratos</string>
	<key>有一群人喜欢藏在草丛，然后跳出来袭击路过的敌人，此时他们往往喊的是</key>
	<string>德玛西亚</string>
	<key>有天朝野生哉叔之称的是？</key>
	<string>冷泉夜月</string>
	<key>机动战士高达中的牛高型号是？</key>
	<string>RX-93</string>
	<key>杉田智和的职业是</key>
	<string>声优</string>
	<key>李靖家有三个儿子，大儿子叫金吒，二儿子叫木吒，三儿子叫（ ）。</key>
	<string>李狗蛋</string>
	<key>松田翔太的昵称</key>
	<string>绵羊</string>
	<key>柯南和基德的人物形象，哪个出现的早</key>
	<string>基德，以前有其他作品</string>
	<key>桂木桂马自封的称号是？</key>
	<string>攻略之神</string>
	<key>桐乃被选去欧洲当模特时，让谁假扮男朋友拒绝？</key>
	<string>高坂京介</string>
	<key>梦幻西游是哪个公司制作出品的？</key>
	<string>网易</string>
	<key>樱兰高校男公关部中须王环的声优是谁</key>
	<string>宫野真守</string>
	<key>樱花庄的宠物女孩》中青山七海的梦想是成为什么？</key>
	<string>声优</string>
	<key>死亡笔记里夜神月的爸爸叫什么名字</key>
	<string>夜神总一郎</string>
	<key>死神中哪位队长确定死亡？</key>
	<string>市丸银</string>
	<key>毒蛇老外是谁？</key>
	<string>gigguk</string>
	<key>氷の妖精是谁</key>
	<string>琪露诺</string>
	<key>汞的元素符号是？</key>
	<string>Hg</string>
	<key>泽城美雪和花泽香菜声线都很特别，赢得众宅男的心，以下4部动漫，哪一部没有同时出现美雪姐和香菜？</key>
	<string>红</string>
	<key>洛克人X系列登场的两位主角中，红色的思考型机器人叫什么名字？</key>
	<string>ZERO</string>
	<key>海猫鸣泣之时乐队武具叫什么名字</key>
	<string>谢丝塔姐妹</string>
	<key>海贼王中索隆怎么评价CP9</key>
	<string>动物园</string>
	<key>游戏《三国杀》中，拥有“咆哮”技能是人是？</key>
	<string>张飞</string>
	<key>游戏《上古卷轴》里最经常中箭的地方是？</key>
	<string>膝盖</string>
	<key>游戏《刺客信条：解放》的发行时间是？(以主机版为准)</key>
	<string>2012年10月30日</string>
	<key>游戏《帝国时代2》中，中国的特色兵种是？</key>
	<string>诸葛弩手</string>
	<key>游戏《幻世录1》中女主角蒂娜二转之后的称号叫什么？</key>
	<string>精灵使</string>
	<key>游戏《英雄无敌2忠诚的代价》中“龙族战争”地图全开后像什么样子？</key>
	<string>正面龙头</string>
	<key>游戏区的mugen格斗平台当中,人物的分级标准不包括以下哪一项?</key>
	<string>王</string>
	<key>游戏王中，以下哪张卡不是恶魔族的？</key>
	<string>デビル·フランケン （恶魔 弗兰肯）</string>
	<key>游戏生化危机5的男主角叫什么</key>
	<string>克里斯雷德菲尔德（Chris Redfield）</string>
	<key>漫画《银魂》的作者是谁？</key>
	<string>空知英秋</string>
	<key>火影忍者里和再不斩一起的叫什么名字？</key>
	<string>白</string>
	<key>火影里猿飞阿斯玛的声优叫什么</key>
	<string>小杉十郎太</string>
	<key>火焰之纹章中被称为马大饼的是谁？</key>
	<string>马尔斯</string>
	<key>灵梦什么东西掉得多</key>
	<string>符纸</string>
	<key>炎发灼眼的讨伐者是指谁</key>
	<string>夏娜</string>
	<key>炮姐喜欢的一种玩具的外形是什么？</key>
	<string>小青蛙</string>
	<key>炮巨舰主义指的是</key>
	<string>戯画</string>
	<key>爬上过长门有希肩膀的动物叫什么名字？</key>
	<string>三味线（三色公花猫一只）</string>
	<key>父母分别为AB型血和O型血，则孩子的血型不可能是（）</key>
	<string>AB和O</string>
	<key>物语系列中出现的金发少女是？</key>
	<string>忍野忍</string>
	<key>物语系列中忍野忍所拥有的妖刀名号是？</key>
	<string>心渡</string>
	<key>物质波是由谁提出来的</key>
	<string>德布罗意</string>
	<key>犬夜叉、L、工藤新一、怪盗基德、kuma（p4g）配音是谁？</key>
	<string>山口胜平</string>
	<key>犬夜叉的配音是？</key>
	<string>山口胜平</string>
	<key>现任巫妖王是谁？</key>
	<string>伯瓦尔</string>
	<key>琪露诺是哪一个</key>
	<string>⑨</string>
	<key>瑞典国王古斯塔夫二世被称为“现代军事之父”，他因为哪场战争而享负盛名？</key>
	<string>三十年战争</string>
	<key>生前川上伦子没有配过哪部动画的角色？</key>
	<string>CLANNAD 古河渚</string>
	<key>电子计算机发明于哪一年？</key>
	<string>1946年</string>
	<key>电磁炮发射炮弹用到的原理是</key>
	<string>洛伦茨力</string>
	<key>电视剧《巾帼枭雄之义海豪情》中，叫梁非凡去“吔屎啦”的人物是？</key>
	<string>刘醒</string>
	<key>白熊君的青梅竹马是谁？</key>
	<string>灰熊</string>
	<key>白熊咖啡厅里面娘娘常喝什么咖啡</key>
	<string>摩卡</string>
	<key>直到我膝盖中了一箭出自哪里</key>
	<string>上古卷轴5</string>
	<key>知名单机游戏“上古卷轴五”主角的特技是什么？</key>
	<string>龙吼</string>
	<key>硝基盐酸为什么能溶解金？</key>
	<string>配位</string>
	<key>神话中，以下哪一位不是争夺金苹果的女神？</key>
	<string>厄里斯</string>
	<key>神隐之狼中，可以令神人暴走的是什么？</key>
	<string>蜜</string>
	<key>空条Q太郎在JOJO里出场了多少部？</key>
	<string>4部</string>
	<key>立华奏的配音是？</key>
	<string>花泽香菜</string>
	<key>笨蛋测试召唤兽中木下秀吉的性别是</key>
	<string>秀吉</string>
	<key>第五使徒的名字叫？</key>
	<string>雷天使</string>
	<key>篮球员麦迪先生的同事奥登大帝，曾经在媒体面前看过什么漫画书？</key>
	<string>灌篮高手</string>
	<key>红茶党是指那个动漫角色的粉丝？</key>
	<string>真红</string>
	<key>约翰提托最早出现的日期</key>
	<string>2000年</string>
	<key>绫波丽驾驶的是EVA几号机？</key>
	<string>零号机</string>
	<key>缺乏感情的死板配音被称作什么？</key>
	<string>棒读</string>
	<key>网络游戏《坦克世界》的国服游戏运营商是哪一个？</key>
	<string>空中网</string>
	<key>网络用语“奥义很爽”出自哪个人物的台词？</key>
	<string>易建联</string>
	<key>罪恶王冠男主的名字</key>
	<string>樱满集</string>
	<key>美国动画公司"迪士尼"，没有参与制作的是</key>
	<string>罗宾逊</string>
	<key>美少女战士的作者是哪位漫画家的夫人？</key>
	<string>富坚义博</string>
	<key>老虚虐我千百遍，我待老虚如什么</key>
	<string>初恋</string>
	<key>肥料掺了金坷垃，小麦亩产________</key>
	<string>1800</string>
	<key>肥料掺了金坷垃，小麦亩产？</key>
	<string>一千八</string>
	<key>自古幸运E的职业是？</key>
	<string>枪兵</string>
	<key>自古（）出CP</key>
	<string>红蓝</string>
	<key>萨乌森·桑尼号上的冰箱密码是多少？</key>
	<string>7326</string>
	<key>著名动画《School Days》TV最后一集临时停播事件被称为？</key>
	<string>Nice Boa</string>
	<key>著名电子游戏《上古卷轴》是由哪家公司开发的？</key>
	<string>Bethesda</string>
	<key>著名的美国芝加哥Sears塔楼的结构属于什么体系？</key>
	<string>成束筒体系</string>
	<key>薛定谔的猫是薛定谔的一个著名实验，其不涉及的问题是</key>
	<string>势垒穿透</string>
	<key>蛇足最喜欢的中国明星是？</key>
	<string>林志玲</string>
	<key>蝶舞の香蕉君的真名是？</key>
	<string>Richardo Milos</string>
	<key>螺旋丸出自哪个作品？</key>
	<string>火影忍者</string>
	<key>被人戏称为“阿拉垃圾君”的角色真正的名字是？</key>
	<string>阿良良木历</string>
	<key>被称为"LOL"的游戏是什么？</key>
	<string>英雄联盟</string>
	<key>被称为幻想乡的记忆的是谁</key>
	<string>稗田阿求</string>
	<key>被称为校园银魂，原作是空知英秋曾经的助手的是哪部动画？</key>
	<string>学园救援团</string>
	<key>被称为神谷娘***是哪位声优？</key>
	<string>神谷浩史</string>
	<key>被称为野生诹少的是？</key>
	<string>蛇足</string>
	<key>被称作大萌神的动漫人物是谁？</key>
	<string>长门有希</string>
	<key>被网友称为“世界第一吃货殿下”的是</key>
	<string>洛天依</string>
	<key>被誉为“物理学圣剑”的武器全称是什么？</key>
	<string>撬棍</string>
	<key>被誉为奥运番的一部东方同人动画叫做？</key>
	<string>梦想夏乡</string>
	<key>西比拉系统的真面目其实是什么？</key>
	<string>由许多免罪体质者的大脑组成的系统</string>
	<key>言峰绮礼最爱吃什么？</key>
	<string>麻婆豆腐</string>
	<key>请问以下哪个角色与《回转企鹅罐》中高仓晶***配音是同一人？</key>
	<string>《黑子的篮球》黄濑凉太</string>
	<key>谁经常到河北省来？</key>
	<string>元首</string>
	<key>谁被称为日本动画界的黑泽明？</key>
	<string>宫崎骏</string>
	<key>贝爷全名叫什么？</key>
	<string>贝尔·格里尔斯</string>
	<key>质能方程的公式？</key>
	<string>E=MC²</string>
	<key>赤座灯里最缺少的是什么？</key>
	<string>存在感</string>
	<key>超电磁炮指的是哪个动漫人物？</key>
	<string>御坂美琴</string>
	<key>路飞的生日是日本的什么节？</key>
	<string>儿童节</string>
	<key>轻小说《便·当》系列中，哪个角色作为主角洋抢夺便当时的敌人出现过？</key>
	<string>淡雪绘理华</string>
	<key>这个世界上不存在奇迹，有的只是必然与偶然，以及谁做了什么。此话出自什么动漫？</key>
	<string>悠久之翼（EF系列)</string>
	<key>邪王真眼的拥有者</key>
	<string>小鸟游六花</string>
	<key>配音演员葛平因为为哪个角色配音而广为人知？</key>
	<string>蓝猫</string>
	<key>野兽先辈的姓氏是什么？</key>
	<string>田所</string>
	<key>钉宫四萌中的以下哪部作品不是出自J.C.STAFF？</key>
	<string>旋风管家第一季</string>
	<key>铃村健一的夫人是下列哪一位声优？</key>
	<string>坂本真绫</string>
	<key>银河英雄传说中男主角杨威利是如何死亡的</key>
	<string>被地球教刺客刺杀</string>
	<key>银魂中坂本辰马被称为什么？</key>
	<string>啊哈哈君</string>
	<key>银魂中真选组副长是什么食物的维权主义使者？</key>
	<string>蛋黄酱</string>
	<key>阳炎project中的主人公叫什么名字</key>
	<string>如月伸太郎</string>
	<key>阿姨说~阿姨说~这句空耳歌词的原文意义是什么？</key>
	<string>卸载(uninstall)</string>
	<key>阿尔萨斯在拿到霜之哀伤并成功转职成死亡骑士之前的职业是？</key>
	<string>圣骑士</string>
	<key>阿良良木历有几个妹妹？</key>
	<string>2个</string>
	<key>陆逊一手牌无中，当他使用完之后（未被无懈）会得到几张手牌？</key>
	<string>三张</string>
	<key>雾雨魔理沙在东方神灵庙（TH13）中的称号是？</key>
	<string>强欲的魔法使</string>
	<key>音MAD鬼畜作品原BGM多数选于DDR,jubeat,beatmania等音游，则该系列的制作团队名为？</key>
	<string>BEMANI</string>
	<key>音乐风格被称为「炸厕所」的p主是？</key>
	<string>suzumu</string>
	<key>香港漫画《海虎》里，白次男被敌人抓住、快要被基头四OO时，最后叫出来的台词。</key>
	<string>师傅，救我！</string>
	<key>马猴烧酒是什么意思？</key>
	<string>魔法少女</string>
	<key>高木警事被绑放在木板上,下面有个炸弹并被视频直播,柯南推测他在?</key>
	<string>北海道</string>
	<key>鬼泣中但丁的大剑叫什么名字</key>
	<string>叛逆</string>
	<key>魔兽世界里，世界之树诺达希尔底下是</key>
	<string>永恒之井</string>
	<key>魔笛magi的作者是谁？</key>
	<string>大高忍</string>
	<key>鲁鲁修的真名是什么？</key>
	<string>Lelouch Vie Britannia</string>
	<key>麻将中哪种牌的张数是28张？</key>
	<string>字牌</string>
	<key>黄濑凉太的模仿技能能保持几分钟</key>
	<string>85分钟</string>
	<key>黑猫警长每集打四枪出现四个字是?</key>
	<string>请看下集</string>
	<key>龙与虎中龙儿家的鹦鹉叫什么名字？</key>
	<string>小鹦</string>
	<key>龙之谷中金龙的名字【大陆翻译】？</key>
	<string>杰兰特</string>
	<key>（），你一定不懂吧。括号里的名字是？ </key>
	<string>心叶</string>
</dict>
</plist>
